@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>
    <!--the home page-->
    <br />
    <p>
        Joel Hilton (Professor Hilton's brother), who is very into movies. So into movies, in fact, that he minored in Film
        Studies at BYU, contracts as a movie reviewer for ClearPlay, and does a weekly podcast about
        movies called Baconsale with a couple friends.
    </p>
    <br />
    <!--picture-->
    <img src="~/JoelHilton.jpg" />

    <br />
    <br />
    <a class="btn btn-dark" asp-action="FilmApplication">Submit Your Movie to the Film Collection.</a>

</div>


